
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#fff;
    font:medium;
}
.container {
  height: 100%;
  width: 100%;
  left: 10px;
}
.sidebar-container {
  position: fixed;                 
  left: 20px;
  height: 100%;
  width: 220px;
  overflow-y: auto;
  background:#fff;
  margin-right: 20px;
}
.map-container {
  height: 100%;
  width: 100%;
  position: fixed;  
  left: 230px; 
}
.map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#map_canvas{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.form-group  {
  margin-top: 2px;
}
.form-group  .form-control{
  box-shadow: none;
  max-width: 200px;
}
.form-group .form-label {
  margin-top: 15px;
}
.form-group .btn {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.container-fluid, .row, .col-lg-12 {      
  height: 100%;
  width: 100%;
}
.sidebar-container .sidebar-img {
  object-fit: cover;
  max-width: 200px;
  max-height: 150px; 
  margin-top: 8px;
}






